/* Menu */

nav.main-menu{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 5px;
}
nav.main-menu .logo{
    margin: 0 20px;
}
nav.main-menu .logo:after{
    border: 0;
}
nav.main-menu>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav.main-menu>ul:after{
    display: block;
    clear: both;
    content: '';
}

nav.main-menu>ul>li{
    margin: 0;
    padding: 0;
    display: block;
    line-height: 25px;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
nav.main-menu > ul > li:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,0.05);
    position: absolute;
    top: 0;
    left: 48%;
    -webkit-transition: .3s border-color linear, .3s top linear;
    -moz-transition: .3s border-color linear, .3s top linear;
    -o-transition: .3s border-color linear, .3s top linear;
    -ms-transition: .3s border-color linear, .3s top linear;
    transition: .3s border-color linear, .3s top linear;
}
nav.main-menu > ul > li:after {
    content: "";
    display: block;
    height: 3px;
    left: auto;
    right: 0;
    margin-top: -1px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav.main-menu > ul > li.selected:before, nav.main-menu > ul > li.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #DB2B1E;
    position: absolute;
    left: 48%;
    top: 0;
}
nav.main-menu > ul.sf-menu li:hover:before, nav.main-menu > ul.sf-menu li.sfHover:before{
    border-top-color: #DB2B1E;
    top: -5px;
}
nav.main-menu>ul>li:last-child:after{
    display: block;
    clear: both;
    content: '';
}

nav.main-menu>ul>li>a{
    padding: 0;
    color: inherit;
}

nav.main-menu>ul>li.selected{
    padding-left: 10px;
}

nav.main-menu>ul>li.selected a{
    line-height: 25px;
}


/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
    left: -60px;
	z-index: 99;
}
.sf-menu > li {
	/*float: left;*/
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	margin-bottom: 1em;
}
.sf-menu ul {
	min-width: 12em;  /* allow long menu items to determine submenu width */
	*width: 12em;  /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding: .3em 1.3em;
	text-decoration: none;
	zoom: 1;/* IE7 */
}
.sf-menu a {
    color:#931a46;
}
.sf-menu li {
    -webkit-transition: background .2s;
    transition: background .2s;
	background-color: rgba(255,255,255,0.8);
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
}

.sf-menu ul {
    border: solid 1px rgba(147, 26, 70, 0.2);
}
.sf-menu ul li {
    font-size: 0.9em;
}
.sf-menu ul li.current {
    background-color: rgba(147, 26, 70, 0.1);
}
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
    background-color: rgba(147, 26, 70, 0.05);
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
.sf-sub-indicator {
    float:right;
}
